/* MadCap Table Style: */

/*<meta Version="9" />*/

@media non-print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		text-align: left;
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Basic;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #99ccff;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	page-break-inside: avoid;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
@media non-print
{
	.TableStyle-Basic
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Basic-BodyI-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basic-BodyE-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basic-BodyF-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basic-BodyH-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basic-BodyD-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basic-BodyC-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basic-BodyB-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basic-BodyA-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Basic-BodyG-Column1-Body1
	{
		text-align: left;
	}
}

.TableStyle-Basic
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Basic-Column-Column1
{
	
}

.TableStyle-Basic-Head-Header1
{
	
}

.TableStyle-Basic-HeadI-Column1-Header1
{
	background-color: #99ccff;
}

.TableStyle-Basic-HeadI-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadE-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadF-Column1-Header1
{
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadF-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #99ccff;
}

.TableStyle-Basic-HeadH-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadD-Column1-Header1
{
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadD-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadC-Column1-Header1
{
	background-color: #99ccff;
}

.TableStyle-Basic-HeadC-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #99ccff;
}

.TableStyle-Basic-HeadB-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadA-Column1-Header1
{
	background-color: #99ccff;
}

.TableStyle-Basic-HeadA-Column1-Header1 p
{
	
}

.TableStyle-Basic-HeadG-Column1-Header1
{
	background-color: #99ccff;
}

.TableStyle-Basic-HeadG-Column1-Header1 p
{
	
}

.TableStyle-Basic-Foot-Footer1
{
	
}

.TableStyle-Basic-FootI-Column1-Footer1
{
	
}

.TableStyle-Basic-FootI-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Basic-FootE-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Basic-FootF-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-FootH-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Basic-FootD-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootC-Column1-Footer1
{
	
}

.TableStyle-Basic-FootC-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-FootB-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootA-Column1-Footer1
{
	
}

.TableStyle-Basic-FootA-Column1-Footer1 p
{
	
}

.TableStyle-Basic-FootG-Column1-Footer1
{
	
}

.TableStyle-Basic-FootG-Column1-Footer1 p
{
	
}

.TableStyle-Basic-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-Basic-BodyI-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-Basic-BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basic-BodyE-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basic-BodyF-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic-BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basic-BodyH-Column1-Body1
{
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basic-BodyD-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Basic-BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basic-BodyC-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-Basic-BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basic-BodyB-Column1-Body1
{
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Basic-BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basic-BodyA-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-Basic-BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-Basic-BodyG-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-Basic-BodyG-Column1-Body1 p
{
	font-weight: normal;
}


