/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: Basic-Plus-Column; 
	border-collapse: collapse; 
	border-left-style: solid; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	border-right-style: solid; 
	border-right-width: 1px; 
	border-right-color: #000000; 
	border-top-style: solid; 
	border-top-width: 1px; 
	border-top-color: #000000; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
}

mcTableColumnStyle {
	span: 2; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	background-color: #99ccff; 
	ruler-style: solid; 
	ruler-width: 1px; 
	ruler-color: #000000; 
}

mcTableColumnStyle {
	span: 9; 
	ruler-style: solid; 
	ruler-width: 1px; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	ruler-color: #000000; 
}

mcTableHeadStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	background-color: #99ccff; 
	text-align: center;
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableFootStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	background-color: #ffffff; 
	vertical-align: top; 
	text-align: left; 
}

 
 
/* Cell Styles: */
 
.TableStyle_Basic-Plus-Column
{
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 3px 3px 3px 3px;
}

.TableStyle_Basic-Plus-Column_Head_0_0
{
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_0 p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_0_RowSep_ColSep
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_0_RowSep
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_0_RowSep p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_0_ColSep
{
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_0_ColSep p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_0_RowSep_ColEnd
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_0_RowEnd
{
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_0_RowEnd p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_0_RowEnd_ColSep
{
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_0_RowEnd_ColEnd
{
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_0_ColEnd
{
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_0_ColEnd p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_1
{
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_1 p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_1_RowSep_ColSep
{
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_1_RowSep_ColSep p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_1_RowSep
{
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_1_RowSep p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_1_ColSep
{
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_1_ColSep p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_1_RowSep_ColEnd
{
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_1_RowSep_ColEnd p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_1_RowEnd
{
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_1_RowEnd p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_1_RowEnd_ColSep
{
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_1_RowEnd_ColSep p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_1_RowEnd_ColEnd
{
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_1_RowEnd_ColEnd p
{
	
}

.TableStyle_Basic-Plus-Column_Head_0_1_ColEnd
{
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Head_0_1_ColEnd p
{
	
}

.TableStyle_Basic-Plus-Column_Body_0_0
{
	font-weight: normal;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	text-align: center;
}

.TableStyle_Basic-Plus-Column_Body_0_0 p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_0_RowSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Body_0_0_RowSep p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_0_ColSep
{
	font-weight: normal;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Body_0_0_ColSep p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Basic-Plus-Column_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_0_RowEnd
{
	font-weight: normal;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Body_0_0_RowEnd p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Basic-Plus-Column_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_0_ColEnd
{
	font-weight: normal;
	background-color: #99ccff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Basic-Plus-Column_Body_0_0_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_1
{
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Body_0_1 p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_1_RowSep_ColSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Body_0_1_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_1_RowSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Body_0_1_RowSep p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_1_ColSep
{
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Body_0_1_ColSep p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_1_RowSep_ColEnd
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Basic-Plus-Column_Body_0_1_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_1_RowEnd
{
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Body_0_1_RowEnd p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_1_RowEnd_ColSep
{
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Body_0_1_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_1_RowEnd_ColEnd
{
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Basic-Plus-Column_Body_0_1_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Body_0_1_ColEnd
{
	font-weight: normal;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Basic-Plus-Column_Body_0_1_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Basic-Plus-Column_Foot_0_0
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Foot_0_0 p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_0_RowSep_ColSep
{
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_0_RowSep
{
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Foot_0_0_RowSep p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_0_ColSep
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Foot_0_0_ColSep p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_0_RowSep_ColEnd
{
	text-align: left;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Basic-Plus-Column_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_0_RowEnd
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Foot_0_0_RowEnd p
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	
}

.TableStyle_Basic-Plus-Column_Foot_0_0_RowEnd_ColSep
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_0_RowEnd_ColEnd
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Basic-Plus-Column_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_0_ColEnd
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Basic-Plus-Column_Foot_0_0_ColEnd p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_1
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Foot_0_1 p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_1_RowSep_ColSep
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Foot_0_1_RowSep_ColSep p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_1_RowSep
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Foot_0_1_RowSep p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_1_ColSep
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Foot_0_1_ColSep p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_1_RowSep_ColEnd
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Basic-Plus-Column_Foot_0_1_RowSep_ColEnd p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_1_RowEnd
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Foot_0_1_RowEnd p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_1_RowEnd_ColSep
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic-Plus-Column_Foot_0_1_RowEnd_ColSep p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_1_RowEnd_ColEnd
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Basic-Plus-Column_Foot_0_1_RowEnd_ColEnd p
{
	
}

.TableStyle_Basic-Plus-Column_Foot_0_1_ColEnd
{
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Basic-Plus-Column_Foot_0_1_ColEnd p
{
	
}

.pageBreak_inside_auto
{

}

@media print
{
	tr
	{
		page-break-inside: avoid;
	}

	.pageBreak_inside_auto
	{
		page-break-inside: auto;
	}

}
