/* MadCap Table Style: */

/*<meta />*/

mcTableStyle {
	name: Basic_allowPagebreak; 
	border-collapse: collapse; 
	border-left-style: solid; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	border-right-style: solid; 
	border-right-width: 1px; 
	border-right-color: #000000; 
	border-top-style: solid; 
	border-top-width: 1px; 
	border-top-color: #000000; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableHeadStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
	background-color: #99ccff; 
}

mcTableBodyStyle {
	span: 1; 
	font-weight: normal; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

mcTableFootStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #000000; 
}

 
 
/* Cell Styles: */
 
.TableStyle_Basic_allowPagebreak
{
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
}

.TableStyle_Basic_allowPagebreak_Head_0_0
{
	background-color: #99ccff;
}

.TableStyle_Basic_allowPagebreak_Head_0_0 p
{
	
}

.TableStyle_Basic_allowPagebreak_Head_0_0_RowSep_ColSep
{
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic_allowPagebreak_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Basic_allowPagebreak_Head_0_0_RowSep
{
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle_Basic_allowPagebreak_Head_0_0_RowSep p
{
	
}

.TableStyle_Basic_allowPagebreak_Head_0_0_ColSep
{
	background-color: #99ccff;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic_allowPagebreak_Head_0_0_ColSep p
{
	
}

.TableStyle_Basic_allowPagebreak_Head_0_0_RowSep_ColEnd
{
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle_Basic_allowPagebreak_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Basic_allowPagebreak_Head_0_0_RowEnd
{
	background-color: #99ccff;
}

.TableStyle_Basic_allowPagebreak_Head_0_0_RowEnd p
{
	
}

.TableStyle_Basic_allowPagebreak_Head_0_0_RowEnd_ColSep
{
	background-color: #99ccff;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic_allowPagebreak_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Basic_allowPagebreak_Head_0_0_RowEnd_ColEnd
{
	background-color: #99ccff;
}

.TableStyle_Basic_allowPagebreak_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Basic_allowPagebreak_Head_0_0_ColEnd
{
	background-color: #99ccff;
}

.TableStyle_Basic_allowPagebreak_Head_0_0_ColEnd p
{
	
}

.TableStyle_Basic_allowPagebreak_Body_0_0
{
	font-weight: normal;
}

.TableStyle_Basic_allowPagebreak_Body_0_0 p
{
	font-weight: normal;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_RowSep
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_RowSep p
{
	font-weight: normal;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_ColSep
{
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_ColSep p
{
	font-weight: normal;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_RowEnd
{
	font-weight: normal;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_RowEnd p
{
	font-weight: normal;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_ColEnd
{
	font-weight: normal;
}

.TableStyle_Basic_allowPagebreak_Body_0_0_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Basic_allowPagebreak_Foot_0_0
{
}

.TableStyle_Basic_allowPagebreak_Foot_0_0 p
{
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_RowSep_ColSep
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_RowSep
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_RowSep p
{
	
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_ColSep
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_ColSep p
{
	
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_RowSep_ColEnd
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_RowEnd
{
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_RowEnd p
{
	
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_RowEnd_ColSep
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_RowEnd_ColEnd
{
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_ColEnd
{
}

.TableStyle_Basic_allowPagebreak_Foot_0_0_ColEnd p
{
	
}

@media print
{
	tr
	{
		page-break-inside: auto;
	}

}
