﻿/* MadCap Table Style: */

/*<meta Version="7" />*/

@media non-print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		text-align: left;
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: SBasic;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #99ccff;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	page-break-inside: avoid;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
@media non-print
{
	.TableStyle-SBasic
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-SBasic .BodyI-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-SBasic .BodyE-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-SBasic .BodyF-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-SBasic .BodyH-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-SBasic .BodyD-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-SBasic .BodyC-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-SBasic .BodyB-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-SBasic .BodyA-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-SBasic .BodyG-Column1-Body1
	{
		text-align: left;
	}
}

.TableStyle-SBasic
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-SBasic .Column-Column1
{
	
}

.TableStyle-SBasic .Head-Header1
{
	
}

.TableStyle-SBasic .HeadI-Column1-Header1
{
	background-color: #99ccff;
}

.TableStyle-SBasic .HeadI-Column1-Header1 p
{
	
}

.TableStyle-SBasic .HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SBasic .HeadE-Column1-Header1 p
{
	
}

.TableStyle-SBasic .HeadF-Column1-Header1
{
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SBasic .HeadF-Column1-Header1 p
{
	
}

.TableStyle-SBasic .HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #99ccff;
}

.TableStyle-SBasic .HeadH-Column1-Header1 p
{
	
}

.TableStyle-SBasic .HeadD-Column1-Header1
{
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SBasic .HeadD-Column1-Header1 p
{
	
}

.TableStyle-SBasic .HeadC-Column1-Header1
{
	background-color: #99ccff;
}

.TableStyle-SBasic .HeadC-Column1-Header1 p
{
	
}

.TableStyle-SBasic .HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	background-color: #99ccff;
}

.TableStyle-SBasic .HeadB-Column1-Header1 p
{
	
}

.TableStyle-SBasic .HeadA-Column1-Header1
{
	background-color: #99ccff;
}

.TableStyle-SBasic .HeadA-Column1-Header1 p
{
	
}

.TableStyle-SBasic .HeadG-Column1-Header1
{
	background-color: #99ccff;
}

.TableStyle-SBasic .HeadG-Column1-Header1 p
{
	
}

.TableStyle-SBasic .Foot-Footer1
{
	
}

.TableStyle-SBasic .FootI-Column1-Footer1
{
	
}

.TableStyle-SBasic .FootI-Column1-Footer1 p
{
	
}

.TableStyle-SBasic .FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SBasic .FootE-Column1-Footer1 p
{
	
}

.TableStyle-SBasic .FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SBasic .FootF-Column1-Footer1 p
{
	
}

.TableStyle-SBasic .FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SBasic .FootH-Column1-Footer1 p
{
	
}

.TableStyle-SBasic .FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SBasic .FootD-Column1-Footer1 p
{
	
}

.TableStyle-SBasic .FootC-Column1-Footer1
{
	
}

.TableStyle-SBasic .FootC-Column1-Footer1 p
{
	
}

.TableStyle-SBasic .FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SBasic .FootB-Column1-Footer1 p
{
	
}

.TableStyle-SBasic .FootA-Column1-Footer1
{
	
}

.TableStyle-SBasic .FootA-Column1-Footer1 p
{
	
}

.TableStyle-SBasic .FootG-Column1-Footer1
{
	
}

.TableStyle-SBasic .FootG-Column1-Footer1 p
{
	
}

.TableStyle-SBasic .Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-SBasic .BodyI-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-SBasic .BodyI-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-SBasic .BodyE-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SBasic .BodyE-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-SBasic .BodyF-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SBasic .BodyF-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-SBasic .BodyH-Column1-Body1
{
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SBasic .BodyH-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-SBasic .BodyD-Column1-Body1
{
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-SBasic .BodyD-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-SBasic .BodyC-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-SBasic .BodyC-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-SBasic .BodyB-Column1-Body1
{
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SBasic .BodyB-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-SBasic .BodyA-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-SBasic .BodyA-Column1-Body1 p
{
	font-weight: normal;
}

.TableStyle-SBasic .BodyG-Column1-Body1
{
	font-weight: normal;
}

.TableStyle-SBasic .BodyG-Column1-Body1 p
{
	font-weight: normal;
}
