/* MadCap Table Style: */

/*<meta Version="9" />*/

@media non-print
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		text-align: left;
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Training_Evaluation;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 6;
}

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column1;
	size: 7em;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column2;
	id: 0;
	font-size: 10pt;
	color: #000000;
}

mcTableColumnStyle
{
	span: 1;
	id: 6;
	name: Column3;
	size: 4em;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #99ccff;
	name: Header1;
	id: 2;
	font-size: 10pt;
	font-family: Arial;
	color: #000000;
	font-weight: bolder;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	page-break-inside: avoid;
	font-family: Arial;
	color: #000000;
	font-size: 10pt;
	size: 3.50em;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	font-size: 10pt;
	font-family: Arial;
	color: #000000;
}


/* Cell Styles: */
 
@media non-print
{
	.TableStyle-Training_Evaluation
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Training_Evaluation-BodyI-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyE-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyF-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyH-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyD-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyC-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyB-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyA-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyG-Column1-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyI-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyE-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyF-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyH-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyD-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyC-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyB-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyA-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyG-Column2-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyI-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyE-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyF-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyH-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyD-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyC-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyB-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyA-Column3-Body1
	{
		text-align: left;
	}

	.TableStyle-Training_Evaluation-BodyG-Column3-Body1
	{
		text-align: left;
	}
}

.TableStyle-Training_Evaluation
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Training_Evaluation-Column-Column1
{
	width: 7em;
}

.TableStyle-Training_Evaluation-Column-Column2
{
	
}

.TableStyle-Training_Evaluation-Column-Column3
{
	width: 4em;
}

.TableStyle-Training_Evaluation-Head-Header1
{
	
}

.TableStyle-Training_Evaluation-HeadI-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadI-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Training_Evaluation-HeadE-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadF-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Training_Evaluation-HeadF-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadH-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadD-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Training_Evaluation-HeadD-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadC-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadC-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadB-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadA-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadA-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadG-Column1-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadG-Column1-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadI-Column2-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadI-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadE-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Training_Evaluation-HeadE-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadF-Column2-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Training_Evaluation-HeadF-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadH-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadH-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadD-Column2-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Training_Evaluation-HeadD-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadC-Column2-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadC-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadB-Column2-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadB-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadA-Column2-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadA-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadG-Column2-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadG-Column2-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadI-Column3-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadI-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadE-Column3-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Training_Evaluation-HeadE-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadF-Column3-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Training_Evaluation-HeadF-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadH-Column3-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadH-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadD-Column3-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Training_Evaluation-HeadD-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadC-Column3-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadC-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadB-Column3-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadB-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadA-Column3-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadA-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-HeadG-Column3-Header1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
	background-color: #99ccff;
}

.TableStyle-Training_Evaluation-HeadG-Column3-Header1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: bolder;
}

.TableStyle-Training_Evaluation-Foot-Footer1
{
	
}

.TableStyle-Training_Evaluation-FootI-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootI-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Training_Evaluation-FootE-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootF-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Training_Evaluation-FootF-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootH-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootD-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Training_Evaluation-FootD-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootC-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootC-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootB-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootA-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootA-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootG-Column1-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootG-Column1-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootI-Column2-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootI-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootE-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Training_Evaluation-FootE-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootF-Column2-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Training_Evaluation-FootF-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootH-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootH-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootD-Column2-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Training_Evaluation-FootD-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootC-Column2-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootC-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootB-Column2-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootB-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootA-Column2-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootA-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootG-Column2-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootG-Column2-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootI-Column3-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootI-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootE-Column3-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Training_Evaluation-FootE-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootF-Column3-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Training_Evaluation-FootF-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootH-Column3-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootH-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootD-Column3-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-Training_Evaluation-FootD-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootC-Column3-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootC-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootB-Column3-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootB-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootA-Column3-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootA-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootG-Column3-Footer1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-FootG-Column3-Footer1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-Body-Body1
{
	height: 3.50em;
	page-break-inside: avoid;
}

.TableStyle-Training_Evaluation-BodyI-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyI-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyE-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Training_Evaluation-BodyE-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyF-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Training_Evaluation-BodyF-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyH-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Training_Evaluation-BodyH-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyD-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Training_Evaluation-BodyD-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyC-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyC-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyB-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Training_Evaluation-BodyB-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyA-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyA-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyG-Column1-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyG-Column1-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyI-Column2-Body1
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyI-Column2-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyE-Column2-Body1
{
	font-family: Arial;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Training_Evaluation-BodyE-Column2-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyF-Column2-Body1
{
	font-family: Arial;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyF-Column2-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyH-Column2-Body1
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Training_Evaluation-BodyH-Column2-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyD-Column2-Body1
{
	font-family: Arial;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyD-Column2-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyC-Column2-Body1
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyC-Column2-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyB-Column2-Body1
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Training_Evaluation-BodyB-Column2-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyA-Column2-Body1
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyA-Column2-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyG-Column2-Body1
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyG-Column2-Body1 p
{
	font-family: Arial;
	font-weight: normal;
	color: #000000;
	font-size: 10pt;
}

.TableStyle-Training_Evaluation-BodyI-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyI-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyE-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Training_Evaluation-BodyE-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyF-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Training_Evaluation-BodyF-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyH-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Training_Evaluation-BodyH-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyD-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Training_Evaluation-BodyD-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyC-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyC-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyB-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Training_Evaluation-BodyB-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyA-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyA-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyG-Column3-Body1
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}

.TableStyle-Training_Evaluation-BodyG-Column3-Body1 p
{
	color: #000000;
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
}


