/*<meta />*/

h2.h1_style
{
	font-weight: bold;
	font-style: normal;
	color: #002000;
	font-size: 125%;
	margin-bottom: .5em;
	clear: both;
	width: 85%;
	mc-heading-level: 1;
}

h2.h1_no_pageBreak_style
{
	font-weight: bold;
	font-style: normal;
	color: #002000;
	font-size: 120%;
	margin-bottom: .5em;
	clear: both;
	width: 85%;
	mc-heading-level: 1;
}

h3.h2_style
{
	font-weight: bold;
	color: #002b00;
	font-size: 110%;
	margin-top: 1.5em;
	margin-bottom: .5em;
	clear: both;
	mc-heading-level: 2;
}

h3.h2_notoc_style
{
	font-weight: bold;
	color: #002b00;
	font-size: 110%;
	margin-top: 1.5em;
	margin-bottom: .5em;
	clear: both;
	mc-heading-level: 0;
}

h3.h2_pageBreak_style
{
	font-weight: bold;
	color: #002b00;
	font-size: 110%;
	margin-top: 1.5em;
	margin-bottom: .5em;
	clear: both;
	mc-heading-level: 2;
}

h4.h3_style
{
	font-weight: bold;
	color: #002b00;
	font-size: 100%;
	margin-top: 1.2em;
	margin-bottom: .5em;
	clear: both;
	mc-heading-level: 3;
}

h4.h3_notoc_style
{
	font-weight: bold;
	color: #002b00;
	font-size: 100%;
	margin-top: 1.2em;
	margin-bottom: .5em;
	clear: both;
	mc-heading-level: 0;
}

h4.h3_pageBreak_style
{
	font-weight: bold;
	color: #002b00;
	font-size: 100%;
	margin-top: 1.2em;
	margin-bottom: .5em;
	clear: both;
	mc-heading-level: 3;
}

h4.h3_notoc_pageBreak_style
{
	font-weight: bold;
	color: #002b00;
	font-size: 100%;
	margin-top: 1.2em;
	margin-bottom: .5em;
	clear: both;
	mc-heading-level: 0;
}

h5.h4_style
{
	font-weight: bold;
	font-style: normal;
	color: #002b00;
	font-size: 100%;
	margin-top: 1.2em;
	margin-bottom: .5em;
	clear: both;
	mc-heading-level: 4;
}

h5.h4_PageBreak_style
{
	font-weight: bold;
	font-style: normal;
	color: #002b00;
	font-size: 100%;
	margin-top: 1.2em;
	margin-bottom: .5em;
	clear: both;
	mc-heading-level: 4;
}

h5.h4_notoc_style
{
	font-weight: bold;
	font-style: normal;
	color: #002b00;
	font-size: 100%;
	margin-top: 1.2em;
	margin-bottom: .5em;
	clear: both;
	mc-heading-level: 0;
}

h5.h4_notoc_pagebreak_style
{
	font-weight: bold;
	font-style: normal;
	color: #002b00;
	font-size: 100%;
	margin-top: 1.2em;
	margin-bottom: .5em;
	clear: both;
	mc-heading-level: 0;
}

h6.h5_style
{
	font-weight: bold;
	font-style: italic;
	font-size: 90%;
	mc-heading-level: 5;
}

h6.h5_notoc_style
{
	font-weight: bold;
	font-style: italic;
	font-size: 90%;
	mc-heading-level: 0;
}

h6.h5_notoc_pagebreak_style
{
	font-weight: bold;
	font-style: italic;
	font-size: 90%;
	mc-heading-level: 0;
}

h7.h6_style
{
	font-weight: bold;
	mc-heading-level: 6;
}

@media print
{
	h2.h1_style
	{
		font-size: 24pt;
		margin-bottom: 0.25in;
		margin-top: .25in;
	}

	h2.h1_no_pageBreak_style
	{
		page-break-before: avoid;
		font-size: 22pt;
		margin-bottom: 0.25in;
		margin-top: .25in;
	}

	h3.h2_style
	{
		font-size: 18.0pt;
	}

	h3.h2_pageBreak_style
	{
		font-size: 18.0pt;
		page-break-before: always;
	}

	h4.h3_style
	{
		font-size: 16.0pt;
		page-break-before: avoid;
		page-break-after: auto;
	}

	h4.h3_notoc_style
	{
		font-size: 16.0pt;
		page-break-before: avoid;
		page-break-after: auto;
	}

	h4.h3_pageBreak_style
	{
		font-size: 16.0pt;
		page-break-before: always;
		page-break-after: auto;
	}

	h4.h3_notoc_pageBreak_style
	{
		font-size: 16.0pt;
		page-break-before: always;
		page-break-after: auto;
	}

	h5.h4_style
	{
		font-size: 12.0pt;
		margin-top: 12pt;
		margin-bottom: 12pt;
		page-break-before: avoid;
		page-break-after: auto;
	}

	h5.h4_PageBreak_style
	{
		font-size: 12.0pt;
		margin-top: 12pt;
		margin-bottom: 12pt;
		page-break-before: always;
		page-break-after: auto;
	}

	h5.h4_notoc_pagebreak_style
	{
		font-size: 12.0pt;
		margin-top: 12pt;
		margin-bottom: 12pt;
		page-break-before: always;
		page-break-after: auto;
	}

	h6.h5_style
	{
		font-size: 12pt;
	}

	h6.h5_notoc_pagebreak_style
	{
		font-size: 12pt;
		mc-heading-level: 0;
		page-break-before: always;
	}

	h7.h6_style
	{
		font-size: 10.0pt;
	}
}

@media non-print
{
	html
	{
		mc-master-page: url('../MasterPages/MNT-3000WebHelp.flmsp');
	}
}

